/* * {
  margin: 0;
  padding: 0;
} */

.container  h1 {
  text-align: center;
}
.container ul {
  display: block;
  text-align: center;
}

.container li {
  width: 10%;
  margin: 0 3%;
  display: inline-block;
  font-size: 30px;
  padding: 10px 0;
  box-shadow: 0 0 1px #000;
}

.container li a {
  display: block;
  text-decoration: none;
  color: #000;
}

.container li a:hover {
  opacity: .7;
}